html, body {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

canvas {
  display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}


#img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
